.mygrid {
  display: grid;
  grid-template-columns: repeat(3, 22%);
  justify-content: center;

  & img {
    max-width: 100%;
  }
}

// #about-me,
// #skills,
// #projects {
//   margin: em(200) 0;
// }

.fa-brands {
  color: $color-white;
  font-size: em(24);
  padding-left: em(8, 24);
  padding-right: em(8, 24);
}

.fa-linkedin:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: $color-primary;
  transition: all 0.3s;
}

.social-media {
  position: absolute;
}
