#about-me {
  margin: em(100) 0 em(200);
}

#skills {
  margin: em(200) 0;
}

#projects {
  margin-top: em(200) 0;
}

#title {
  margin-top: em(180);
}

@media (max-width: 991.98px) {
  #title {
    margin-top: em(50);
    text-align: center;
  }
}

.fa-brands {
  color: $color-white;
  font-size: em(24);
  padding-left: em(8, 24);
  padding-right: em(8, 24);
}

.fa-linkedin:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: $color-primary;
  transition: all 0.3s;
}

.social-media {
  position: absolute;
}

.lead {
  text-align: justify;
}

#projects {
  & .row .card {
    background: darken($color-secondary, 1.5);
    height: em(260);
  }
  & .card-link {
    color: $color-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 em(8) em(15);
  }
  & .card-link-github {
    color: $color-primary;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 em(10) em(5) 0;
  }

  .container {
    width: 75%;
    margin: 0 auto;
  }
}

#hero {
  .down-circle {
    font-size: em(12);
    border: 2px solid white;
    padding: 0 3px 20px;
    border-radius: 25px;
  }

  div:nth-child(2) {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  i {
    animation: moveCircle 1s alternate-reverse infinite;
  }
}

@keyframes moveCircle {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
