//
//FOOTER
//----------------------------------------------------------------

.prechod {
  path {
    fill: lighten($color-secondary, 5%);
  }
  width: 100%;
}

footer {
  background-color: lighten($color-secondary, 5%);

  p {
    font-size: em(18);
  }

  h2 {
    line-height: em(30);
  }
}
