//
//TYPOGRAPHY
//----------------------------------------------------------------
h2 {
  font-family: 'PT Serif', serif;
  text-transform: uppercase;

  & span {
    border-bottom: 5px solid $color-primary;
  }
}

#about-me {
  & h4 {
    font-weight: bold;

    & span {
      border-bottom: 3px solid $color-primary;
    }
  }

  & em {
    color: $color-primary;
  }
}

//#main
#title {
  #first {
    color: $color-primary;
    font-family: 'PT Serif', serif;
    font-size: em(11);
    margin-left: em(1);
  }

  #second {
    font-size: em(21);
  }

  #third {
    font-size: em(20);
    opacity: 0.2;
  }
}

#services {
}

#projects {
  & .card-subtitle {
    text-transform: uppercase;
    color: transparentize($color-white, 0.75);
  }
}

@media (max-width: 991.98px) {
  #title {
    #first {
      margin-left: none;
      font-size: em(10);
    }
  }
}
