::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
}

::-webkit-scrollbar-thumb:hover {
  background: #7effe0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1c1a;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

section {
  scroll-margin-top: 6.25em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}

h2 span {
  border-bottom: 5px solid #64ffda;
}

#about-me h4 {
  font-weight: bold;
}

#about-me h4 span {
  border-bottom: 3px solid #64ffda;
}

#about-me em {
  color: #64ffda;
}

#title {
  margin-top: 4.375em;
}

#title h2 {
  text-transform: uppercase;
}

#title h3 {
  opacity: 0.1;
  font-size: 9.375em;
}

#title h5 {
  color: #64ffda;
  font-family: 'PT Serif', serif;
}

#skills i {
  font-size: 4.0625em;
}

#skills i:hover {
  color: #64ffda;
}

#skills p {
  margin-top: 0.3125em;
  font-weight: bold;
}

.navbar {
  text-transform: uppercase;
}

.navbar li {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.nav-link {
  border-radius: 1.5625em;
}

.nav-link:hover {
  background-color: #64ffda;
  color: black !important;
  transition: all 0.6s;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus, .navbar-toggler:active,
.navbar-toggler .navbar-togle-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.navbar-toggler.top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler.middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler.bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed.top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed.middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed.bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed.toggler-icon {
  background-color: white;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #64ffda;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
  margin-left: 3px;
}

path {
  fill: #2a2926;
}

#footer {
  background-color: #2a2926;
}

#footer h4 {
  color: #64ffda;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
}

form {
  width: 60%;
}

.copyright {
  text-align: center;
  padding-bottom: 0.4375em;
}

.btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #1d1c1a !important;
  border: 0.125em solid #64ffda;
  color: #64ffda;
}

.btn-primary:hover {
  background-color: #64ffda !important;
  border: 0.125em solid #1d1c1a;
  color: #1d1c1a;
  transition: all 0.5s;
}

.btn-primary:not(hover) {
  transition: all 0.5s;
}

.btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
  background-color: #2a2926 !important;
  border: 0.125em solid #64ffda;
  color: #64ffda;
}

.btn-secondary:hover {
  background-color: #64ffda !important;
  border: 0.125em solid #2a2926;
  color: #2a2926;
  transition: all 0.5s;
}

.btn-secondary:not(hover) {
  transition: all 0.5s;
}

.mygrid {
  display: grid;
  grid-template-columns: repeat(3, 22%);
  justify-content: center;
}

.mygrid img {
  max-width: 100%;
}

#about-me,
#skills,
#projects {
  margin: 12.5em 0;
}

.fa-brands {
  color: #fff;
  font-size: 1.5em;
  padding-left: 0.33333em;
  padding-right: 0.33333em;
}

.fa-linkedin:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: #64ffda;
  transition: all 0.3s;
}

.social-media {
  position: absolute;
}
