::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
}

::-webkit-scrollbar-thumb:hover {
  background: #7effe0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1c1a;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

section {
  scroll-margin-top: 1.25em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  font-family: 'Poppins', sans-serif;
}

.mb-6 {
  margin-bottom: 88px !important;
}

.wrapper {
  height: 100vh;
}

.lead {
  text-align: justify;
}

@media (max-width: 991.98px) {
  section {
    scroll-margin-top: -1.875em;
  }
}

h2 {
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}

h2 span {
  border-bottom: 5px solid #64ffda;
}

#about-me h4 {
  font-weight: bold;
}

#about-me h4 span {
  border-bottom: 3px solid #64ffda;
}

#about-me em {
  color: #64ffda;
}

#title #first {
  color: #64ffda;
  font-family: 'PT Serif', serif;
  font-size: 0.5em;
  margin-left: 0.34375em;
}

#title #second {
  font-size: 2.5em;
}

#title #third {
  font-size: 2.1875em;
  opacity: 0.2;
}

#skills i {
  font-size: 4.0625em;
}

#skills i:hover {
  color: #64ffda;
}

#skills p {
  margin-top: 0.3125em;
  font-weight: bold;
}

#skills .row div {
  padding: 1.25em 0.625em;
}

#projects .card-subtitle {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 991.98px) {
  #title #first {
    margin-left: none;
    font-size: 0.625em;
  }
}

header {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

header .menu {
  position: relative;
  top: 0;
  font-size: 1.875em;
  cursor: pointer;
}

header li {
  white-space: nowrap;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #1d1c1a;
  width: 42%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50%;
}

nav ul a {
  color: black;
  padding: 0.75em 1.2em !important;
  display: block;
  color: #fff;
  text-shadow: 1px 1px rgba(100, 255, 218, 0.5);
}

nav ul a:hover, nav ul a:active {
  color: #64ffda;
}

.active {
  color: #64ffda !important;
}

.close {
  margin: 0.625em 0.9375em;
  float: left;
  cursor: pointer;
  font-size: 1.875em;
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none !important;
  }
  nav {
    transform: translateX(0);
    position: fixed;
    background: none;
    width: auto;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 1.125em;
    padding: 0 3.125em;
    box-shadow: none;
  }
  nav .close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
    margin-top: 0.1875em;
  }
}

.open-nav {
  transform: translateX(0%);
  box-shadow: 8px 0 5px 2px #1d1c1a;
}

.nav-active {
  background-color: #1d1c1a;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 3px 15px 3px #000000;
  box-shadow: 0px 3px 15px 3px #000000;
}

.nav-noactive {
  background-color: none;
  transition: all 0.5s;
}

.prechod {
  width: 100%;
}

.prechod path {
  fill: #2a2926;
}

footer {
  background-color: #2a2926;
  font-size: 1.0625em;
}

footer h2 {
  line-height: 1.875em;
}

footer .copyright {
  padding: 0.9375em 0 0.3125em;
  text-align: center;
  font-size: 1.05882em;
}

footer p:nth-child(1):hover {
  cursor: pointer;
}

footer a {
  color: #fff !important;
}

footer a:hover, footer a:active {
  color: #64ffda !important;
}

footer form {
  width: 70%;
  margin: 0 auto;
}

footer .container {
  width: 60%;
}

footer .social-media > * {
  font-size: 1.17647em;
}

footer .social-media > * > * {
  padding: 0 0.625em;
}

@media (max-width: 991.98px) {
  footer .left {
    text-align: center;
  }
  footer .container {
    width: 100%;
  }
  .right {
    margin-top: 1.875em;
  }
  .social-media {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  footer h2 {
    padding: 0 1.25em !important;
  }
  footer span {
    border-bottom: 3px solid #64ffda;
  }
}

.btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #1d1c1a !important;
  border: 0.125em solid #64ffda;
  color: #64ffda;
}

.btn-primary:hover {
  background-color: #64ffda !important;
  border: 0.125em solid #1d1c1a;
  color: #1d1c1a;
  transition: all 0.5s;
}

.btn-primary:not(hover) {
  transition: all 0.5s;
}

.btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
  background-color: #2a2926 !important;
  border: 0.125em solid #64ffda;
  color: #64ffda;
}

.btn-secondary:hover {
  background-color: #64ffda !important;
  border: 0.125em solid #2a2926;
  color: #2a2926;
  transition: all 0.5s;
}

.btn-secondary:not(hover) {
  transition: all 0.5s;
}

@keyframes moveCircle {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}

#title {
  margin-top: 11.25em;
}

#hero .down-circle {
  font-size: 0.75em;
  border: 2px solid white;
  padding: 0 3px 20px;
  border-radius: 25px;
}

#hero div:nth-child(2) {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero i {
  animation: moveCircle 1s alternate-reverse infinite;
}

@media (max-width: 991.98px) {
  #title {
    margin-top: 2.5em;
    text-align: center;
  }
}

#about-me {
  padding: 6.25em 0;
}

@media (max-width: 991.98px) {
  #about-me p {
    margin-top: 1.5625em;
  }
  #about-me h4 {
    margin-bottom: -0.625em;
  }
}

#skills {
  padding: 6.25em 0;
}

#projects {
  padding: 6.25em 0;
}

#projects .row .card {
  background: #191816;
  height: 16.25em;
}

#projects .card-link {
  color: #64ffda;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0.5em 0.9375em;
}

#projects .card-link-github {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0.625em 0.3125em 0;
  font-size: 1.375em;
}

#projects .card-link-github:hover {
  color: #64ffda;
}

#projects .container {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #projects .container {
    width: 100%;
  }
  .row .card {
    height: 13.75em !important;
  }
}

@media (max-width: 900px) {
  .row .card {
    height: 16.25em !important;
  }
}
