::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
}

::-webkit-scrollbar-thumb:hover {
  background: #7effe0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1c1a;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

section {
  scroll-margin-top: 6.25em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mb-6 {
  margin-bottom: 88px !important;
}

.wrapper {
  height: 100vh;
}

h2 {
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}

h2 span {
  border-bottom: 5px solid #64ffda;
}

#about-me h4 {
  font-weight: bold;
}

#about-me h4 span {
  border-bottom: 3px solid #64ffda;
}

#about-me em {
  color: #64ffda;
}

#title {
  margin-top: 7.5em;
}

#title #first {
  color: #64ffda;
  font-family: 'PT Serif', serif;
  font-size: 0.5em;
  margin-left: 0.34375em;
}

#title #second {
  font-size: 2.5em;
}

#title #third {
  font-size: 2.1875em;
  opacity: 0.2;
}

#skills i {
  font-size: 4.0625em;
}

#skills i:hover {
  color: #64ffda;
}

#skills p {
  margin-top: 0.3125em;
  font-weight: bold;
}

#skills .row div {
  padding: 1.25em 0.625em;
}

#projects .card-subtitle {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.25);
}

header {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

header svg {
  width: 3.125em;
  cursor: pointer;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: white;
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50%;
}

nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}

.close {
  float: left;
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1.5em;
  }
}

.open-nav {
  transform: translateX(0%);
}

.prechod {
  width: 100%;
}

.prechod path {
  fill: #2a2926;
}

#footer {
  background-color: #2a2926;
}

#footer h4 {
  color: #64ffda;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
}

form {
  width: 60%;
}

.copyright {
  text-align: center;
  padding-bottom: 0.4375em;
}

.btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #1d1c1a !important;
  border: 0.125em solid #64ffda;
  color: #64ffda;
}

.btn-primary:hover {
  background-color: #64ffda !important;
  border: 0.125em solid #1d1c1a;
  color: #1d1c1a;
  transition: all 0.5s;
}

.btn-primary:not(hover) {
  transition: all 0.5s;
}

.btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
  background-color: #2a2926 !important;
  border: 0.125em solid #64ffda;
  color: #64ffda;
}

.btn-secondary:hover {
  background-color: #64ffda !important;
  border: 0.125em solid #2a2926;
  color: #2a2926;
  transition: all 0.5s;
}

.btn-secondary:not(hover) {
  transition: all 0.5s;
}

.mygrid {
  display: grid;
  grid-template-columns: repeat(3, 22%);
  justify-content: center;
}

.mygrid img {
  max-width: 100%;
}

#about-me {
  margin: 6.25em 0 12.5em;
}

#skills {
  margin: 12.5em 0;
}

#projects {
  margin-top: 12.5em 0;
}

.fa-brands {
  color: #fff;
  font-size: 1.5em;
  padding-left: 0.33333em;
  padding-right: 0.33333em;
}

.fa-linkedin:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: #64ffda;
  transition: all 0.3s;
}

.social-media {
  position: absolute;
}

.lead {
  text-align: justify;
}

#projects .row .card {
  background: #191816;
  padding: 0.625em;
  width: 18.75em;
  height: 16.25em;
}

#projects .card-link {
  position: absolute;
  margin-bottom: 1.25em;
  bottom: 0;
  color: #64ffda;
}

#projects .card-link-github {
  position: absolute;
  margin: 0 1.25em 1.25em 0;
  bottom: 0;
  right: 0;
  color: #64ffda;
}

#hero .down-circle {
  font-size: 0.75em;
  border: 2px solid white;
  padding: 0 3px 20px;
  border-radius: 25px;
}

#hero div:nth-child(2) {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero i {
  animation: moveCircle 1s alternate-reverse infinite;
}

@keyframes moveCircle {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
