//
//ABOUT ME
//----------------------------------------------------------------

#about-me {
  width: 80%;
  margin: 0 auto;
  padding: em(100) 0;
  .web-tech {
    font-weight: bold;
  }

  a {
    &:hover {
      border-bottom: 1px solid $color-primary;
    }
  }
}

@media (max-width: 991.98px) {
  #about-me {
    p:first-child {
      margin-top: em(25);
    }

    h4 {
      margin-bottom: em(10);
    }

    .left {
      order: 1 !important;
    }
  }
}
