//
//	HERO
//----------------------------------------------------------------

#hero {
  .row {
    margin-top: em(150);
  }
  lottie-player {
    width: em(350);
    height: em(350);
  }
  .down-circle {
    font-size: em(12);
    border: 2px solid white;
    padding: 0 3px 25px;
    border-radius: 25px;
    &:hover {
      border-color: $color-primary;
    }
  }

  .wrapper-circle {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }

  i {
    animation: moveCircle 1.5s alternate-reverse infinite;
  }
}

@media (max-width: 991.98px) {
  #title {
    margin-top: em(-120);
    text-align: center;
  }

  #hero {
    lottie-player {
      width: 40%;
      margin: 0 auto;
      margin-top: em(-70);
    }
  }
}
