//
//	HERO
//----------------------------------------------------------------

#title {
  margin-top: em(180);
}

#hero {
  .down-circle {
    font-size: em(12);
    border: 2px solid white;
    padding: 0 3px 20px;
    border-radius: 25px;
  }

  div:nth-child(2) {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  i {
    animation: moveCircle 1s alternate-reverse infinite;
  }
}

@media (max-width: 991.98px) {
  #title {
    margin-top: em(40);
    text-align: center;
  }
}
