//
//PROJECTS
//----------------------------------------------------------------

#projects {
  padding: em(100) 0;
  & .row .card {
    background: darken($color-secondary, 1.5);
    height: em(260);
  }
  & .card-link {
    color: $color-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 em(8) em(15);
  }
  & .card-link-github {
    color: $color-white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 em(10) em(5) 0;
    font-size: em(22);

    &:hover {
      color: $color-primary;
    }
  }

  .container {
    width: 60%;
    margin: 0 auto;
  }
}

.javascript {
  border-radius: em(5);
  padding: em(5) em(7);
  background-color: rgba(239, 216, 29, 0.1);
  // font-weight: bold;
  color: #efd81d;
  text-transform: none;
}

.bootstrap {
  border-radius: em(5);
  padding: em(5) em(7);
  background-color: rgba(121, 82, 179, 0.1);
  // font-weight: bold;
  color: #7952b3;
  text-transform: none;
}

@media (max-width: 1200px) {
  #projects {
    .container {
      width: 100%;
    }
  }

  .row .card {
    height: em(220) !important;
  }
}

@media (max-width: 900px) {
  .row .card {
    height: em(260) !important;
  }
}

@media (max-width: 991.98px) {
  #projects {
    padding: em(30) 0;
    width: 80%;
    margin: 0 auto;
  }
}
